
@media (min-width: 576px){



}

footer{

}

input{
    font-style: italic;
    font-family: 'Indie Flower', cursive;
}

.test {
    color: red;
}

.downGarret {

    margin-top: 100px;
}

#olivier {
    height: 35px;
    margin-top: 30px;
}

.redAlert {
    color: red;
    font-style: italic;
}

.cut {
    width: 150px;
}

.cut2 {
    width: 200px;

}


